{% if request.user.is_authenticated  %}
<p>{{request.user}}</p>
{% comment %} <a href="{% url 'logout' %}">ログアウト</a> {% endcomment %}
{% else %}
<a href="{% url 'login' %}">ログイン</a>
{% endif %}


<h1>TODOリスト</h1>
<a href="{% url "create-task" %}">タスクの追加</a>

<table>
    <tr>
        <th>タスク</th>
    </tr>
    {%  for task in tasks  %}
        <tr>
            <th>
                {{task.title}}
            </th>
            <td>
                <a href="{% url "task" task.id %}">確認</a>
                <a href="{% url "edit-task" task.id %}">更新</a>
                <a href="{% url "delete-task" task.id %}">削除</a>
            </td>
        </tr>
    {% endfor %}
</table>